name: Action

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
    - name: checkout repository
      uses: actions/checkout@v3
    - name: run local action
      uses: ./
